* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;


}

body {
  position: relative;
  height: 1000px;
  overflow: scroll;
}


img {
  width: 100%;

}



/* .div-category{
  border: 1px solid #333;

} */

.btn-categoty {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 40px;
  /* border: 1px solid #333; */
  width: fit-content;
  margin: 10px auto;
}

.category-name {
  margin-right: 5px;
  font-size: 30px;
}

.categoty-icon {
  margin-left: 5px;
  color: red;
}

.category {
  display: flex;
  justify-content: space-evenly;
}

h4 {
  font-size: 20px;
  color: red;
}

.category ul {
  display: flex;
}

.category ul li {
  list-style: none;
  margin: 0 10px;
}

.category ul li a {
  text-decoration: none;
  font-size: 15px;
}

.category ul li a:hover {
  color: royalblue;
}

#parent-category {
  display: none;
}




/* main  */

