

<footer class="text-center text-white" style="background-color: #f1f1f1;">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" target="_blank" href="https://web.facebook.com/profile.php?id=100092200266017" role="button"
        data-mdb-ripple-color="dark"><i class="icon-facebook2"></i></a>

      <!-- Twitter -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" target="_blank" href="#!" role="button"
        data-mdb-ripple-color="dark"><i class="icon-twitter"></i></a>

      <!-- Instagram -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" target="_blank" href="#!" role="button"
        data-mdb-ripple-color="dark"><i class="icon-instagram"></i></a>

      <!-- Linkedin -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" target="_blank" href="#!" role="button"
        data-mdb-ripple-color="dark"><i class="icon-linkedin"></i></a>      
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-dark" href="#">Nessal</a>
    
  </div>
  <!-- Copyright -->
</footer>

