

<div class="navbar-display">
  <div class="nav-lg">
    <a class="logo" href="#">Nessal</a>
    <ul>
      <li><a href="#">Services</a></li>
      <li><a id="not-work" href="#">Shopping</a></li>
      <li><a href="#About">About</a></li>
      <li><a id="not-workb" href="#">Blog</a></li>
      <li><a  href="#Cont">Contact</a></li>
    </ul>
  </div>
</div>

<div class="navbar-md-hidden">
  <div class="navbar-md">
    <a href="" class="logo">Nessal</a>
    <div>
      <span id="toggler" class="icon-menu icon-md"></span>
    </div>
  </div>
</div>